<a href="https://colab.research.google.com/github/sakshik05/DEMO-PROJECT/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a tuple with three elements: 10, "hello", and 3.14.
print("\nQ1:")
t1 = (10, "hello", 3.14)
print(t1)

Q1:
(10, 'hello', 3.14)

In [2]:
# 2. Access and print the third element from (1,2,3,4,5)
print("\nQ2:")
t2 = (1, 2, 3, 4, 5)
print("Third element:", t2[2])

Q2:
Third element: 3

In [3]:
# 3. Concatenate (1,2,3) and (4,5,6)
print("\nQ3:")
a = (1, 2, 3)
b = (4, 5, 6)
print(a + b)

Q3:
(1, 2, 3, 4, 5, 6)

In [4]:
# 4. Unpack tuple into variables
print("\nQ4:")
t4 = (1, 2, 3)
x, y, z = t4
print(x, y, z)

Q4:
1 2 3

In [5]:
# 5. Check if 6 exists in tuple (1,3,5,7,9)
print("\nQ5:")
t5 = (1, 3, 5, 7, 9)
print(6 in t5)

Q5:
False

In [6]:
# 6. Slice elements from index 2 to 4
print("\nQ6:")
t6 = (0, 1, 2, 3, 4, 5)
print(t6[2:5])

Q6:
(2, 3, 4)

In [7]:
# 7. Find length of tuple
print("\nQ7:")
t7 = (10, 20, 30, 40, 50)
print(len(t7))

Q7:
5

In [8]:
# 8. Repeat tuple three times
print("\nQ8:")
t8 = (1, 2, 3)
print(t8 * 3)

Q8:
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
# 9. Convert list to tuple
print("\nQ9:")
lst = [1, 2, 3]
print(tuple(lst))

Q9:
(1, 2, 3)

In [10]:
# 10. Find minimum and maximum
print("\nQ10:")
t10 = (5, 12, 3, 8, 15)
print("Min:", min(t10))
print("Max:", max(t10))

Q10:
Min: 3
Max: 15

In [11]:
# 11. Count occurrences of 2
print("\nQ11:")
t11 = (1, 2, 3, 2, 4, 2)
print(t11.count(2))

Q11:
3

In [12]:
# 12. Check if all elements are True
print("\nQ12:")
t12 = (True, True, False)
print(all(t12))

Q12:
False

In [13]:
# 13. Find index of first occurrence of 3
print("\nQ13:")
t13 = (1, 2, 3, 4, 3, 5)
print(t13.index(3))

Q13:
2

In [14]:
# 14. Sort tuple
print("\nQ14:")
t14 = (5, 2, 8, 1, 3)
print(tuple(sorted(t14)))

Q14:
(1, 2, 3, 5, 8)

In [15]:
# 15. Create tuple of squares 1 to 5
print("\nQ15:")
t15 = tuple(i*i for i in range(1, 6))
print(t15)

Q15:
(1, 4, 9, 16, 25)

In [16]:
# 16. Create a simple tuple
print("\nQ16:")
t16 = (1, 2, 3)
print(t16)

Q16:
(1, 2, 3)

In [17]:
# 17. Tuple with different data types
print("\nQ17:")
t17 = (10, "Python", 3.14, True)
print(t17)

Q17:
(10, 'Python', 3.14, True)

In [18]:
# 18. Print one item from tuple
print("\nQ18:")
t18 = (5, 10, 15)
print(t18[1])

Q18:
10

In [19]:
# 19. Unpack tuple
print("\nQ19:")
t19 = (4, 5, 6)
a, b, c = t19
print(a, b, c)


# 20. Add item to tuple
print("\nQ20:")
t20 = (1, 2, 3)
t20 = t20 + (4,)
print(t20)


# 21. Convert tuple to string
print("\nQ21:")
t21 = ('H', 'e', 'l', 'l', 'o')
print("".join(t21))


# 22. Get 4th element from last
print("\nQ22:")
t22 = (1, 2, 3, 4, 5)
print(t22[-4])


# 23. Create single element tuple
print("\nQ23:")
t23 = (5,)
print(t23)


# 24. Find repeated items
print("\nQ24:")
t24 = (1, 2, 3, 2, 4, 1)
repeated = []
for i in t24:
    if t24.count(i) > 1 and i not in repeated:
        repeated.append(i)
print(repeated)


# 25. Check element exists
print("\nQ25:")
t25 = (1, 2, 3)
print(2 in t25)


# 26. Convert list to tuple
print("\nQ26:")
lst26 = [4, 5, 6]
print(tuple(lst26))


# 27. Remove item from tuple
print("\nQ27:")
t27 = (1, 2, 3, 4)
lst27 = list(t27)
lst27.remove(3)
print(tuple(lst27))


# 28. Slice a tuple
print("\nQ28:")
t28 = (1, 2, 3, 4, 5)
print(t28[1:4])


# 29. Find index of item
print("\nQ29:")
t29 = (10, 20, 30)
print(t29.index(20))


# 30. Find length of tuple
print("\nQ30:")
t30 = (1, 2, 3, 4)
print(len(t30))


# 31. Convert tuple to dictionary
print("\nQ31:")
t31 = (('a', 1), ('b', 2))
print(dict(t31))


# 32. Unzip list of tuples
print("\nQ32:")
lst32 = [(1, 2), (3, 4)]
a, b = zip(*lst32)
print(a, b)


# 33. Reverse tuple
print("\nQ33:")
t33 = (1, 2, 3)
print(t33[::-1])


# 34. Convert list of tuples to dictionary
print("\nQ34:")
lst34 = [('x', 10), ('y', 20)]
print(dict(lst34))


# 35. Remove empty tuples
print("\nQ35:")
lst35 = [(), ('a', 'b'), (), ('c',)]
print([i for i in lst35 if i])


# 36. Convert string to tuple
print("\nQ36:")
s = "python 3.0"
print(tuple(s))

Q19:
4 5 6

Q20:
(1, 2, 3, 4)

Q21:
Hello

Q22:
2

Q23:
(5,)

Q24:
[1, 2]

Q25:
True

Q26:
(4, 5, 6)

Q27:
(1, 2, 4)

Q28:
(2, 3, 4)

Q29:
1

Q30:
4

Q31:
{'a': 1, 'b': 2}

Q32:
(1, 3) (2, 4)

Q33:
(3, 2, 1)

Q34:
{'x': 10, 'y': 20}

Q35:
[('a', 'b'), ('c',)]

Q36:
('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')